/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

/*index.html*/
#menubtn {float: right; width:50%; text-align:center; padding-top:10px; padding-bottom:10px;}
#navmenu {margin-top:35px; margin-left:50px; margin-right:50px;}
#introimage {text-align:center;}
figcaption {text-align:none;}
#introStmt {margin:none; text-align:center; margin-top:20px;}

/*blog.html*/
.card {border:5px solid tomato; width:100%; padding:25px;}
#climatechangeblogimage {}
.card-header {margin:none;}
#climatechangetitle {}
.card-body {}
#climatechangetext {}


/*climatechange.html*/
.blogpicture {width:400px; height:200px; margin-left:30px;}
.summaryNav {width:400px; border:2px solid #000; text-align:center; margin-left:20px;}
.summaryNav:hover {border:none;}
.blogSummaryimg {width:70px;}



}